.App{
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #bce5f5;
    height: 100vh;
}

.title{
    text-align: center;
    font-family: 'Roboto';
}